.basic-form {
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
}

.invalid-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

label,
button {
  font-size: 85%;
}
